/* CSS Syntax Guide
Selector	            Example	          Example description
#id	                  #firstname	      Selects the element with id="firstname"
.className	              .intro	      Selects all elements with class="intro"
element.class	        p.intro	          Selects only <p> elements with class="intro"
*	                    *	              Selects all elements
element	              p	                  Selects all <p> elements
element,element,..	  div, p	          Selects all <div> elements and all <p> elements
*/

/*Importing font library
  For italic 'https://fonts.googleapis.com/css?family=Open+Sans:italic'
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open+Sans', sans-serif;
}

/* Universal Selector/Asterisk can select all elements of HTML*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/*Alternatively you can use !important to override CSS from bootstrap
  .nav-link {
    font-size: larger!important;
  }
*/
.navbar .navbar-brand {
  font-size: x-large !important;
  font-family: Open Sans, sans-serif;
}

ul.header li {
  display: inline-block;
}

ul.header li a {
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.content {
  & > h1 {
    font-weight: bold;
    font-size: 3rem;
    padding: 5px;
    text-align: center;
  }
}

.my-card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 10px;
  justify-content: center;
}

.my-card {
  width: 400px;
  height: 100%;
  border-radius: 5%;

  & > p {
    padding: 4px;
    text-align: left;
    text-justify: inter-word;
  }
}
/* Card with profile photo */
.my-card0 {
  @extend .my-card;

  & > h1 {
    font-size: 3rem;
    font-weight: bold;
    color: darkolivegreen;
  }
  .my-card__image {
    border-radius: 5%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .my-card__buttons {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
  }
}

@mixin h1size() {
    font-weight: bold;
    font-size: 2.5rem;
}

@mixin card-description() {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.my-card1 {
  @extend .my-card;
  padding: 5px;
  background: beige;
  margin-top: 65px;

  .my-card1__description {
    @include card-description();

    & > h1 {
      @include h1size();
    }
  }

  .my-card1__images{
    display: flex;
    gap: 15px;
    place-content: center;
    margin-bottom: 10px;
    margin-top: 200px;

    .image {
      height: 80px;
      width: 80px;
      border-radius: 100%;

      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.my-card2{
  @extend .my-card1;

  .my-card2__description {
    @include card-description();

    & > h1 {
      @include h1size();
    }
  }

}