/*Importing font library
  For italic 'https://fonts.googleapis.com/css?family=Open+Sans:italic'
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open+Sans', sans-serif;
  }

/* Asterisk can select all elements of HTML*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/*Alternatively you can use !important to override CSS from bootstrap
  .nav-link {
    font-size: larger!important;
  }
*/
.navbar .navbar-brand{
  font-size: x-large!important;
  font-family: Open Sans;
}

ul.header li {
  display: inline-block;
}

ul.header li a{
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}